*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kavivanar', cursive;
}

header{
    width: 100%;
    height: 850px;
    background-image: url(mc.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3px;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-image: repeating-linear-gradient(#B6D0E2, #85C1E9, #85C1E9, #B6D0E2);
    padding: 4px 8px;
    letter-spacing: 4px;
    box-shadow: 0 0 8px black;
}

nav p{
    position: absolute;
    text-align: center;
    color: #fff;
}

ul{
    width: 100%;
    height: 40px;
    text-align: right;
    letter-spacing: 3.5px;
}

nav li{
    width: 117.6px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

nav li a:hover{
    background-color:lightblue;
    transition: 0.61s;
}

nav li a{
    color:#fff;
    width: 117.6px;
    height: 50px;
    padding-top: 16px;
    display: block;
}

a{
    text-decoration: none;
}

nav p{
    padding-top: 16px;
    width: auto;
    height: 50px;
}

nav p:hover{
    background-color: lightblue;
    transition: .3s
}

header h1{
    width: 500px;
    height: auto;
    color: cornflowerblue;
    text-shadow: 1.1px 1.1px darkblue;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    margin-top: 454.6px;
}

h2{
    font-size: 31px;
    margin: 20px;
}

main{
    width: 100%;
    height: auto;
}

section p{
    text-align: justify;
}

section{
    text-align: center;
}

.about-p{
    font-size: 24px;
    text-align: center;
    background-color:bisque;
    color: #EB8A3D;
    padding-top: 6px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.about-p span{
    font-size: 37px;
}

.about-p a{
    color:mediumpurple
}

.rule{
    margin-top: 30px;
    font-size: 53px;
}

.ol2{
    text-align: justify;
    font-size: 31px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-top:47px;
}

.ol2 li{
    color: #69DFA9;
    margin: 25px;
    text-shadow: 1.2px 1.2px cornflowerblue;
    padding: 5px;
    font-weight: 500;
}

.ol2 li a{
    color:#70F7E7;
    text-shadow: 0.4px 0.4px white;
}

.seccol{
    background-color: #4C8B82;
    padding: 20px;
}

.rule{
    color: #1ABC9C;
    text-shadow: 1.9px 1.9px teal;
}

.ol1{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 29px;
}

.ol1 li{
    margin: 21px;
    color: white;
    text-shadow: 1px 1px black;
}

.seccul{
    padding: 50px;
    background-image: linear-gradient(#8436AE, #B757C3, #B757C3, #8436AE)
}

footer{
    width: 100%;
    height: 155px;
    background-color: dodgerblue;
}

footer p{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: floralwhite;
    position: relative;
    top: 45%;
}